.top-card-custom{
    width: 30%;
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    /* Add additional styling as needed */
}

/* For large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .top-card-custom{
        width: 22%; /* Four cards per row */
    }
}

/* For medium devices (tablets, 768px to 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .top-card-custom{
        width: 30%; /* Three cards per row */
    }
}

/* For small devices (landscape phones, 576px to 767px) */
@media (max-width: 767px) {
    .top-card-custom{
        width: 40%; /* Two cards per row */
    }
}



